// ** Size **

$h1: 2.5em;
$h2: 1.75em;
$h3: 1.2em;
$h4: 0.675em;
$h5: 0.675em;
$h6: 0.675em;

h1, .h1 { font-size:$h1; } 	/* 60 @ 1440 */
h2, .h2 { font-size:$h2; } 	/* 30 @ 1440 */
h3, .h3 { font-size:$h3; } 	/* 28 @ 1440 */
h4, .h4 { font-size:$h4; } 	/* 16 @ 1440 */
h5, .h5 { font-size:$h5; } 	/* 16 @ 1440 */
h6, .h6 { font-size:$h6; } 	/* 16 @ 1440 */
